button {
  width: 250px;
  height: 80px;
  font-size: 35px;
  font-family: Roboto;
  font-weight: bold;
  color: wheat;
  border: 2px solid white;
  cursor: pointer;
  border-radius: 15px;
  margin: 5px;
}

button:hover {
  background-color: #00471b;
}

.boton-clic {
  background-color: red;
}

.boton-reiniciar {
  background-color: #002ead;
}

.boton-restar {
  background-color: #31ad00;
}
